.layui-theme-goodcatch {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.layui-theme-goodcatch input[required].layui-input, .layui-theme-goodcatch textarea[required].layui-textarea {
    box-shadow: 3px 0px 0px #ef5753 inset;
}

.layui-theme-goodcatch div.xm-required >xm-select {
    box-shadow: 3px 0px 0px #ef5753 inset;
}

.layui-icon.layui-icon-goodcatch {
    font-family: "iconfont" !important;
}


.layui-table-click {
    background-color:#dadada;
}

.shadow {
    position: relative;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3),
    0px 0px 20px rgba(0,0,0,0.1) inset;
}
/*
.shadow::before,
.shadow::after {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    transform:rotate(-20deg);
}

.shadow::after{
    right:10px;
    left:auto;
    transform:rotate(-20deg);
}
*/